name = "webhtv-playback-sync"
main = "src/index.js"
compatibility_date = "2026-08-01"

[[durable_objects.bindings]]
name = "PLAYBACK_DO"
class_name = "PlaybackSyncObject"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["PlaybackSyncObject"]
